body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.flecha {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 20px;
}

input{
  border: none;
  border-bottom: 1px solid rgb(145, 145, 145);
  width: 100%;
  
}

button {
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  background-color: #800080;
  color: white;
  border: none;

  
}


.restablecer {
  background-color: #800080;
  color: white;
  border-radius: 6px;
  margin-top: 50px;
  text-align: center;
  }

.flecha button {
  background: none;
  border: none;
}

.text,.repetir{
  font-weight: bold;
  margin-top: 35px;
}

.containerMensaje {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f3e5f5; /* púrpura clarito */
  color: #4a004a; /* púrpura oscuro */
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
