body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;


}

/* loader */
.loader-screen {
  position: fixed;
  inset: 0;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

.patitas-container {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.patita {
  width: 30px;
  height: auto;
  animation: caminar 1.2s infinite ease-in-out;
}

.patita:nth-child(odd) {
  animation-name: paso-izq;
}

.patita:nth-child(even) {
  animation-name: paso-der;
}

.patita:nth-child(1) {
  animation-delay: 0s;
}

.patita:nth-child(2) {
  animation-delay: 0.1s;
}

.patita:nth-child(3) {
  animation-delay: 0.2s;
}

.patita:nth-child(4) {
  animation-delay: 0.3s;
}

.patita:nth-child(5) {
  animation-delay: 0.4s;
}

.patita:nth-child(6) {
  animation-delay: 0.5s;
}

.patita:nth-child(7) {
  animation-delay: 0.6s;
}

.patita:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes paso-izq {

  0%,
  100% {
    transform: rotate(0deg) translateY(0);
    opacity: 0.6;
  }

  50% {
    transform: rotate(-20deg) translateY(-5px);
    opacity: 1;
  }
}

@keyframes paso-der {

  0%,
  100% {
    transform: rotate(0deg) translateY(0);
    opacity: 0.6;
  }

  50% {
    transform: rotate(20deg) translateY(-5px);
    opacity: 1;
  }
}

.texto {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}


.container-login {
  width: 300px;
  padding: 40px 20px;
  text-align: center;
}

.container-title h3 {
  margin-bottom: 5px;
  font-size: 20px;

}



.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px 0 10px;

}

.container-inputs input {
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  text-align: center;
  color: #000;
}

.container-inputs input::placeholder {
  color: #514f4f;

}

.password {
  font-size: 14px;
  cursor: pointer;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  color: #545353;

}

.ingreso-registro {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form a {
  display: block;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

form a:hover {
  color: #0056b3;
  text-decoration: underline;
}

button,
a {
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;

}

.btn-ingresar {
  background-color: #800080;
  color: white;
  border: none;
  margin: 20px 0 0 0;
  text-align: center;
}

.btn-registrarse {
  background-color: transparent;
  color: #800080;
  border: 2px solid #800080;
  text-decoration: none;
  text-align: center;
}

.flecha {
  position: absolute;
  top: 20px;
  left: 20px;
}

.flecha button {
  background: none;
  border: none;
}

@media screen and (min-width: 1024px) {
  .container-login {
    border-radius: 10px;
    border: 2px solid #aba5a5;

  }

}