body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.flecha {
  position: absolute;
  top: 20px;
  left: 20px;
}

.flecha button {
  background: none;
  border: none;
}

.registro {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
}

form {
  width: 100%;
  max-width: 300px;
}

.campo {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

}

label {
  width: 60px;
  font-weight: 500;
  font-size: 14px;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 4px;
  font-size: 15px;
  outline: none;
}

input::placeholder {
  color: #aaa;
  padding: 0;
}

.btn-registro {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button {
  background-color: #800080;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button span {
  font-size: 14px;
}

/* Estilo normal del botón */
#btnReg {
  background-color: #800080;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Estilo deshabilitado con clase .disabled */
#btnReg.disabled {
  background-color: #d3b3d3;
  /* tono claro de púrpura */
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}