body {
  background-color: #f5f6fa;
  font-family: 'Poppins', sans-serif;
}

.texto1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.texto2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.search-input {
  width: 0;
  transition: width 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.search-input:focus {
  width: 200px;
  opacity: 1;
}

.banner {
  position: relative;
  background-image: url('/public/assets/usuariobody.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.banner-text {
  color: white;
  padding: 20px;
  max-width: 80%;
  border-radius: 10px;
}

.veterinaria-img {
  position: absolute;
  right: 10px;
  bottom: 0px;
  height: 140px;
}

.btn-cita {
  background-color: #ffff;
  color: #8f108d;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.btn-cita:hover {
  background-color: #8f108d;
}

    .service-img {
      border-radius: 10px;
      width: 100%;
      object-fit: cover;
      height: 110px;
    }

    .service-title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #ffffff;
      font-weight: bold;
      text-shadow: 1px 1px 3px #000;
      font-family: 'Poppins', sans-serif;
    }


.custom-offcanvas {
  top: 0;
  bottom: 60px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}

.bottom-nav {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1045;
}

.bottom-nav a {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
}

.nav-icon {
  font-size: 1.5rem;
  color: #000;
  transition: color 0.3s ease;
}

/* Ícono activo */
.bottom-nav a.active-link .nav-icon {
  color: #8f108d;
}

/* Texto debajo del ícono */
.nav-text {
  font-size: 0.75rem;
  margin-top: 2px;
  color: #000;
  border: none;
}

/* Texto activo */
.bottom-nav a.active-link .nav-text {
  color: #8f108d;
}

.notification.unread .notification-text {
  font-weight: bold;
}

.notification.read .notification-text {
  font-weight: normal;
  color: #6c757d;
}

.card-body p {
  margin-bottom: 0.75rem;
}

/* estilos turnos */
  .option-btn {
    width: 64px;
    height: 64px;
    transition: all 0.3s ease;
  }

  .option-label {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
  }

  .option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .option-selected {
    background-color: white !important;
    border-color: #8f108d !important;
    color: white !important;
  }

  .option-btn img {
    width: 40px;
  }

  .btn-primary {
    background-color: white;
    color: #8f108d;
    border-color: #8f108d;
  }

  .btn-primary:hover {
    background-color: #750c73;
    border-color: #750c73;
  }

    /* Elimina el efecto azul al hacer clic o enfocar */
  .btn:focus,
  .btn:active,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary:focus-visible {
    box-shadow: none !important;
    outline: none !important;
    background-color: #fff !important;
    border-color: #750c73 !important;
    color: #750c73 !important;
  }

  .banner-chat {
  position: relative;
  background-image: url('/public/assets/banner-chat.png');
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  height: 140px;
}

.btn-chat{
  
  background-color: #ffff;
  color: #8f108d;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: absolute;
  bottom: 4px;
  left: 18px;
}

.btn-chat:hover {
  background-color: #8f108d;
}
.bannerchat-text {
  color: white;
  padding: 20px;
  max-width: 80%;
  border-radius: 10px;
}