body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.texto{
    font-size: larger;
    border-radius: 2px;
}
.flecha {
  position: absolute;
  top: 20px;
  left: 20px;
}

.flecha button {
  background: none;
  border: none;
}