* {
  margin: 0;
  box-sizing: border-box;
}

/* Body */
html,
body {
  background-color: #F5F6FA;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

/* Fuentes */
.lato-regular {
  font-weight: 400;
}

.lato-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.size-medium {
  font-size: 24px;
}

.ml-4 {
  margin-left: 10px;
}

/* Header */
header {
  background-color: #8F108D;
  padding: 10px;
}

.ocultarMobile {
  display: none;
}

/* Navegación / Top bar */
.contenido {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #8F108D;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.izquierda {
  position: relative;
  display: flex;
  align-items: center;

}

.derecha {
  display: flex;
  align-items: center;
}

.imagen-logo {
  margin-left: 2px;
  margin-top: 6px;
}


.boton-categoria {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  align-self: flex-start;
}

.menu-desplegable {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8F108D;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 0 0 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
}

.menu-desplegable ul {
  list-style: none;
  margin: 2rem 0 2rem 2rem;
  padding: 0;
}

.menu-desplegable li {
  margin-bottom: 1rem;
}

.menu-desplegable li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #F5F6FA;
}

.contenedor-buscador {
  display: flex;
  position: relative;
  align-items: center;
}

.input-buscador {
  height: 35px;
  right: 42px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding-left: 12px;
  width: 200px;
}

.boton-lupa {
  position: relative;
  right: 42px;
  background: none;
  border: none;
  cursor: pointer;
}

/* contenedor servicios */

.seccion-servicios {
  margin: 100px 0;
}


.titulo-servicios {
  font-weight: 700;
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 0 0 20px;
  position: relative;
}

.contenedor-servicios {
  position: relative;
  padding: 80px 16px 100px 16px;
  max-width: 600px;
  margin: 0 auto;
}

.contenedor-cards {
  display: grid;
  grid-template-columns: none;
}

.card {
  position: relative;
  margin: 0 auto 30px;
  max-width: 300px;
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  font-family: 'Lato', sans-serif;
}

.card-img-container {
  position: relative;
  width: 100%;
  height: 200px;
  padding-top: 40px;
}

.img-vet {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 180px;
  z-index: 1;
}

.img-dec {
  position: relative;
  top: -90px;
  width: 100%;
  z-index: 2;
}

.container-descripcion {
  background-color: #8F108D;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  width: 100%;
  height: 100px;
  margin-top: 2px;
  z-index: 3;
  position: relative;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.container-descripcion p {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}



.sub-titulo-servicio {
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-align: left;
  color: white;
  position: absolute;
  top: 15px;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 3;
  padding: 160px 10px;
  white-space: nowrap;
  font-size: 15px;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #8F108D;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.contenedor-footer {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

.contenedor-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fbf2f2;
  font-size: 12px;
}



@media screen and (min-width: 400px) {
  .input-buscador {
    height: 40px;
    width: 230px;
  }
}

@media screen and (min-width: 768px) {
  .contenedor-buscador {
    padding-right: 130px;
  }

  .input-buscador {
    width: 350px;

  }
}

@media screen and (min-width: 1024px) {

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto
  }

  /* estilos navbar */

  .izquierda ul {
    text-transform: uppercase;
    font-size: 12px;

  }

  .izquierda ul li a {
    color: #F5F6FA;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }

  .izquierda ul li a:hover {
    color: #f5f6faad;
  }

  .ocultar {
    display: none;
  }

  .ocultarMobile {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    color: #F5F6FA;

  }

  .container-enlaces {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  .container-derecha {
    gap: 50px;
    margin-bottom: 4px;
  }

  .container-1 {
    position: relative;
  }

  .container-1 a {
    color: #F5F6FA;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease-out;
  }

  .container-1 a:hover {
    color: #f5f6faad;
  }

  .container-1 a span {
    position: absolute;
    top: 35%;
    margin-left: 5px;
  }


  .container-2 {
    margin-left: 20px;
    position: relative;
  }

  .container-2 a {
    color: #F5F6FA;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease-out;
  }

  .container-2 a:hover {
    color: #f5f6faad;
  }

  .container-2 a span {
    position: absolute;
    top: 35%;
    margin-left: 5px;
  }

  .item-1,
  .items-2 {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    text-align: center;
  }



  .contenido {
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 0 50px;
  }

  .div-izquierda ul {
    margin-top: 15px;

  }

  .derecha {
    margin-left: 5%;
  }

  .contenedor-buscador {
    padding-right: 50px;
  }

  .input-buscador {
    width: 250px;
    height: 40px;
  }

  .container-enlaces {
    margin-bottom: 8px;
  }

  dl,
  ol,
  ul {
    margin-top: 20px;
  }


  /*servicios */
  .contenedor-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .contenedor-servicios {
    max-width: 750px;
  }

  /* footer */


  footer {
    position: static;

  }

  .contenedor-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
    height: 100%;
  }

  .contenedor-nav {
    display: none;
  }

  .contenedor-navPc {
    display: flex;
  }

  .contenedor-navPc ul {
    align-items: center;
    height: 50px;
    color: #F5F6FA;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 200px;
    padding-right: 60px;

  }

  .contenedor-navPc ul li span {
    font-weight: bold
  }

  .contenedor-navPc img {
    width: 60px;
  }

}

@media (min-width: 1280px) {

  /*nav */
  .contenido {
    justify-content: start;
    max-width: 100%;
    padding-left: 30px;
  }


  .input-buscador {
    margin-left: 20px;
    height: 35px;
    width: 300px;
  }

  .boton-lupa img {
    width: 28px;
  }

  .container-enlaces {
    margin-left: 20px;
    gap: 70px;
    margin-bottom: 8px;
  }


  .izquierda ul {
    margin-left: 20px;
  }

  .contenedor-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }

  .contenedor-servicios {
    max-width: 90%;
    padding-top: 150px;
  }

}

@media (min-width: 1440px) {

  /* navbar estilos */
  .imagen-logo {
    width: 60px;
  }

  .contenido {
    padding-left: 60px;
  }

  .container-enlaces {
    margin-left: 30px;
    gap: 80px;
    margin-bottom: 10px;
  }


  .input-buscador {
    margin-left: 30px;
    width: 420px;
  }


  .container-1 a img {
    width: 32px;
  }

  .container-2 a img {
    width: 32px;
  }
}

@media (min-width: 1600px) {

  /*estilos nav */
  .contenido {
    padding-left: 80px;
  }

  .container-enlaces {
    margin-left: 60px;
  }

  .input-buscador {
    margin-left: 40px;
    width: 440px;
  }

  .contenedor-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


  }
}



@media (min-width: 1920px) {

  /* navbar estilos */
  .contenido {
    justify-content: center;
  }

  .contenido {
    padding-left: 0px;
  }

  .izquierda ul li a {
    font-size: 16px;
  }

  .container-1 a span {
    font-size: 16px;
  }

  .container-2 a span {
    font-size: 16px;
  }


  .container-enlaces {

    margin-left: 0;
    margin-bottom: 8px;
  }


  .input-buscador {
    margin-left: 0px;
    width: 440px;
  }

  /*servicios */

  .contenedor-servicios {
    max-width: 60%;
    padding-top: 150px;
  }

  .titulo-servicios {
    font-size: 30px;
  }
}