** {
   
  margin: 0;
    padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

body {
  background-color: #F5F6FA;
  
}

  .contenido {
    height: 80px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;

  }

  .izquierda {
    display: flex;
    align-items: center;
  }

  .derecha {
    display: flex;
    align-items: center;
  }
  .boton-categoria {
    background: none;
    border: none;
    cursor: pointer;
  }

  .contenedor-buscador {
    display: flex;
    position: relative;
    align-items: center;


  }

  .input-buscador {
    height: 35px;
    right: 42px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding-left: 12px;
    width: 250px;
  }

  
  .imagen-logo {
    margin-left: 2px;
    margin-top: 6px;
  }



  .boton-lupa {
    position: relative;
    right: 42px;
    background: none;
    border: none;
    cursor: pointer;
  }
  main {
  padding-bottom: 100px;
}


@media (max-width:400px) {
  .banner-parrafo {
      font-size: 18px;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem;
      width: 100%;
    }

      .banner-parrafo p {
        font-size: 14px;
      }

       .input-buscador {
    width: 200px;
  }

}
/**mobile*/
@media screen and (max-width: 600px) {

  /**header */
  @media screen and (max-width: 600px) {

  header {
    background-color: #8F108D;
  }

  /* Servicios */
  .titulo-servicios {
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 40px 0 20px 0;
    position: relative;
  }

  .seccion-servicios {
    position: relative;
    padding: 20px 16px 10px;
    max-width: 600px;
    margin: 0 auto;
  }

  .card {
    position: relative;
    margin: 0 auto 30px;
    max-width: 300px;
    overflow: hidden;
    background-color: white;
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
  }

  .card-img-container {
    position: relative;
    width: 100%;
    height: 150px;
    padding-top: 40px; /* espacio para que el vet sobresalga */
  }

  .img-vet {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    object-fit: contain;
    z-index: 0;
  }

  .img-dec {
    position: absolute;
   bottom: -0px; 
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .container-descripcion {
    background-color: #8F108D;
    color: white;
    padding: 10px 12px;
    border-radius: 12px;
    width: 100%;
    margin-top: 2px;
    z-index: 3;
    position: relative;
    text-align: left;
  }

  .container-descripcion h2 {
    text-align: start;
    font-size: 14px;
    margin-bottom: 8px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }

  .container-descripcion p {
    font-size: 10px;
    margin: 0;
  }

  .titulo-servicios {
    top: -10px;
  }}


  /* footer */

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8F108D;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .contenedor-footer {
    height: 80px;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px 0;
  }

  .contenedor-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contenedor-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fbf2f2;
    font-size: 12px;
  }


}