** {
  margin: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

body {
  background-color: #F5F6FA;
}

/**mobile*/
@media screen and (max-width: 600px) {



  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.8rem;
    align-self: center;
     justify-self: center;
  }
  .tarjeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 372px;
    max-height: 170px;
    background: linear-gradient(#8F108D, #A712CD);
    padding: 5px; 
    border-radius: 6px; 
    color: white; 
    box-sizing: border-box; 
  }

  .tarjeta div {
    flex: 1;
  }

.parrafo-testimonio {
  font-size: 14px;
  overflow: hidden;        
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 150px;
  -webkit-box-orient: vertical;
  padding-left: 5px;
  margin: 0;
}
  .img-testimonio { 
    height: auto;
    border-radius: 8px; 
  }
    
}
