** {
  margin: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

.opens-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

.btn-primary {
  display: inline-block;
  padding: 6px 24px;
  color: #8F108D;
  border: 2px solid #8F108D;
  background-color: transparent;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 15px;
}

body {
  background-color: #F5F6FA;
}

.contenedor-testimonios {
  margin-bottom: 120px;
}


.banner-parrafo p {
  color: #8F108D;
}

/**mobile*/
@media screen and (max-width: 600px) {



  /**header and footer*/
  header {
    background-color: #8F108D;

  }


  .banner-parrafo p {
    font-size: 18px;
  }

  .contenido {
    height: 80px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;

  }

  .izquierda {
    display: flex;
    align-items: center;
  }

  .derecha {
    display: flex;
    align-items: center;
  }

  .imagen-logo {
    margin-left: 2px;
    margin-top: 6px;
  }

  .boton-categoria {
    background: none;
    border: none;
    cursor: pointer;
  }

  .contenedor-buscador {
    display: flex;
    position: relative;
    align-items: center;

  }

  .input-buscador {
    height: 35px;
    right: 42px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding-left: 12px;
    width: 250px;
  }



  .boton-lupa {
    position: relative;
    right: 42px;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* footer */

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8F108D;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .contenedor-footer {
    height: 80px;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px 0;
  }

  .contenedor-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contenedor-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fbf2f2;
    font-size: 12px;
  }

  .banner-container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 75vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    overflow: hidden;
  }

  .banner-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/assets/bannerinicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 0;
  }

  .banner-parrafo {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    /* Asegura que el texto esté por encima de la imagen */
    color: #000;
    /* Cambia el color si es necesario */
  }

  @media (max-width:400px) {
    .banner-parrafo {
      font-size: 18px;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem;
      width: 100%;
    }

      .banner-parrafo p {
        font-size: 14px;
      }

        .input-buscador {
    width: 200px;
  }

  }


  .font-lato {
    font-family: 'Lato', sans-serif;

  }

  .font-small {
    font-size: 14px;
  }

  .extrabold {
    font-weight: 900;
  }



  /* estilos seccion testimonios*/
  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1.8rem;
    justify-content: center;
    padding: 0 1rem;
  }

  .tarjeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-height: 200px;
    background: linear-gradient(#8F108D, #A712CD);
    padding: 5px;
    border-radius: 6px;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }


  .parrafo-testimonio {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: auto;
    -webkit-box-orient: vertical;
    padding-left: 5px;
    margin: 0;
  }

  .img-testimonio {
    border-radius: 8px;
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }

}